*{
    margin: 0;
    padding: 0;
}


body{
height: 100vh;

    
    background: url(flower.jpg),black,no-repeat,center;
    
}

@media screen and (max-width: 766px) {
    body{
        background-color:blue;
    }
}
    

